body {
	
	width: 500px;
	margin: auto;
	margin-top: 20px;
	background-color: #e9ebee;
}

.container {
	background-color: white;
	border-radius: 4px;
}
.main {
	display: inline-block;
	padding: 20px;
}
.logo{
	
	float: left;
}
.logo img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.head {
	float: left;
	padding-left: 10px;
}
.head > p:nth-child(1) {
	font-size: 25px;
	font-weight: bold;
	font-family: inherit;
	color: #385898;
	margin-top: 5px;
}
.head > p:nth-child(2) {
	color: #7e6770;
	margin-top: -20px;
	font-size: 15px;
}

.head2{
	float: right;
	color: red;
	font-size: 20px;
}

.post {
	padding: 0px 20px 0px 20px;
	margin-top: -15px;
}

.post-img img {
	width: 500px;
	height: auto;
	margin-top: 10px;
}

.img-footer {
	padding: 15px 20px;
	background-color: #f2f3f5;
	border-bottom: 2px solid #e6e1e1;
	margin-top: -3px;
}
.img-footer span {
	font-weight: bold;
	font-size: 20px;
}

.img-footer button {
	margin-left: 250px;
	border-radius: 5px;
	border: .5px solid black;
	padding: 5px 10px;
}